#Frontend
VUE_CONTAINER_NAME=vue_test
VUE_INTERNAL_PORT=8080
VUE_EXTERNAL_PORT=8080

#DB
DB_CONTAINER_NAME=test_db
DB_INTERNAL_PORT=5432
DB_EXTERNAL_PORT=5432

DB_USER=testuser
DB_PASSWORD=testpass
DB_NAME=testname
DB_HOST=db


#Backend
API_CONTAINER_NAME=api_test
API_PORT=3000
API_URL=http://localhost
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_EXTERNAL_PORT}/${DB_NAME}