#Project Name:
PROJECT_FOLDER_NAME=worlds-tracker

#DB
DB_CONTAINER_NAME=worldstrackerdb
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_HOST=

DB_URL=

#API:
API_CONTAINER_NAME=worlds-tracker-api
API_PORT=3000
API_URL=http://localhost
API_HOST=localhost

#Frontend:
VUE_CONTAINER_NAME=worlds-tracker-fe
VITE_API_URL=http://localhost:3000/api/