#Frontend
VUE_CONTAINER_NAME=worlds-tracker-fe
VUE_INTERNAL_PORT=8080
VUE_EXTERNAL_PORT=8080

#DB
DB_CONTAINER_NAME=worldstrackerdb
DB_INTERNAL_PORT=5432
DB_EXTERNAL_PORT=5432

DB_USER=<worlds_user>
DB_PASSWORD=<worlds_password>
DB_NAME=<worlds_db_name>
DB_HOST=db


#Backend
API_CONTAINER_NAME=worlds-tracker-api
API_PORT=3000
API_URL=http://localhost
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_EXTERNAL_PORT}/${DB_NAME}